body {
  background-size: cover;
}
body .products-section .container .row .col-lg-3 .card {
  margin-bottom: 20px !important;
}
body .products-section .container .row .col-lg-3 .card .card-img-top {
  height: 250px;
}
body .products-section .container .row .col-lg-3 .card .card-header {
  text-align: center;
}
body .tex-section .container .row .col-lg-3 .card {
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
}
body .tex-section .container .row .col-lg-3 .card .card-header {
  height: 250px;
  background: transparent;
  border: none;
}
body .tex-section .container .row .col-lg-3 .card .card-header .card-img-top {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
body .tex-section .container .row .col-lg-3 .card .card-body {
  padding-bottom: 0 !important;
  height: 150px;
}
body .tex-section .container .row .col-lg-3 .card .card-footer {
  text-align: center;
  background: transparent;
  border: none;
}
body .tex-section .container .row .col-lg-3 .card:hover {
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.5);
}
body .profile {
  min-height: 500px;
}

/*# sourceMappingURL=global.css.map */
